body {

    font-family: 'Times New Roman', Times, serif;
    color: black;
}

a {
text-decoration: none;
color: black;

}
.menu-link:hover  {
    color: #01a2ff;
}

.menu-container {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 30px;
    align-items: center;
    align-content: center;
}

.menu-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.dropdown {
    padding: 0 0;
}

 .dropbtn {
    background-color: #01a2ff;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
 
  .dropdown-content a:hover {background-color: rgb(240, 252, 255); box-shadow: hsl(from color h s l);}

  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #005cb3;} 