body {
    font-family: Georgia, 'Times New Roman', Times, serif;
} 


a {
    text-decoration: none;
    color: black;
}

.title {
    text-align: center;
}

.big-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100vw;
    align-items: center;
    padding: 0px;
    margin: 0px;
}


.profile-image {
    width: 300px;
    margin: 0px;
    padding: 0px;
    margin: 0px;
}

.profile-card {
    box-shadow: 10px 20px 30px 5px rgb(167, 167, 167);
    filter: blur();
    margin: 0px;
    border-collapse: collapse;
    padding: 0px;
    margin: 0px;
}

td {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 0px;
    margin-bottom: 20px;
    gap: 40px;
}

table body html {
    margin: 0px;
}

table {
    display: table-column;
    margin: 0px;
    border-spacing: 0;
}


.social-icons {
    width: 20px;
}

.social-container {
    gap: 15px;
}

.nome-utente {
    font-weight: 800;
    font-size: 20px;
}

.footer-contact {
    background-color: black;
    color: white;
}

.button-footer {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: black;
    color: white;
    border: 0;
    cursor: pointer;
}